@model EQueue.Models.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<h2 class="mb-3">Вход</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <input asp-for="RememberMe" class="form-check-input"/>
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
    <div class="mb-3">
        <input type="submit" value="Войти" class="btn btn-primary"/>
    </div>
</form>