@model EQueue.Models.RegisterViewModel

@{
    ViewData["Title"] = "Настройки аккаунта";
}

<h2 class="mb-3">Регистрация</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"/>
        <div id="emailHelp" class="form-text">Обязательно</div>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <div id="nameHelp" class="form-text">Обязательно</div>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Surname" class="form-label"></label>
        <input asp-for="Surname" class="form-control"/>
        <div id="surnameHelp" class="form-text">Обязательно</div>
        <span asp-validation-for="Surname"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Patronymic" class="form-label"></label>
        <input asp-for="Patronymic" class="form-control"/>
        <span asp-validation-for="Patronymic"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Birthday" class="form-label"></label>
        <input asp-for="Birthday" class="form-control"/>
        <span asp-validation-for="Birthday"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control"/>
        <div id="passwordHelp" class="form-text">Обязательно</div>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordConfirm" class="form-label"></label>
        <input asp-for="PasswordConfirm" class="form-control"/>
        <div id="passwordConfirmHelp" class="form-text">Обязательно</div>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Регистрация" class="btn btn-primary"/>
    </div>
</form>